<!DOCTYPE html>
<html lang="en">
<head>
    <tittle>
        WSP. Dynamic Website
    </tittle>
</head>
<body style="background-color: yellow;">
    <h1 style="color: blue;">
        This text is generic and should appear in every webbsite on the server.
    </h1>
    {{{body}}}
</body>
</html>