<!DOCTYPE html>
<html>
    <header>
        <tittle>
            WEBSERVER PROGRAMMING. Dynamic website
        </tittle>
    </header>
    <body>
        <h1>
            <img src="cat.jpg" alt="logo" />
        </h1>
        {{{body}}}
    </body>
</html>