<h1>
    This is the home site
    MY favourite things are:
    <ul>
        <li>
            Rainbows
        </li>
        <li>
            Friends
        </li>
        <li>
            Consolidation of revolutionery movements
        </li>
    </ul>
</h1>