<!DOCTYPE html>
<html>
    <head>
        <tittle>
            Meadowlark Travel
        </tittle>
    </head>
    <body>
        <header>
            <img src="img/LBS_logo.png" alt="LBS logo" />
        </header>
        {{{body}}}
    </body>
</html>