<!DOCTYPE html>
<html>
<body>
<!method POST gör att formen kommer att skickas genom POST, till skillnad från att skicka det genom GET>
<!action definierar vart ska formen skcikas>
<form action="/process" method = "POST">
    <input type="hidden" name="hush" val="hidden, not secret">
        <div>
            <label for="fieldColor">Your favorite color:</label>
            <!input type text lägger en ruta där man kan skriva>
            <input type="text" id="fieldColor" name="color">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </input>
</form>
</body>
</html>