<form action="/add" method="POST">
    <h1>Give me two numbers</h1>
    <input type="text" id="userInput1" name="number1">
    <input type="text" id="userInput2" name="number2">
    <button type="submit">Submit answer</button>
</form>